.featured-packages {
  padding-block: var(--space-7);
  background-color: var(--color-primary-light);
}

.featured-packages__container {
  max-width: var(--layout-max-width);
}

@media (min-width: 992px) {
  .featured-packages {
    padding-block: var(--space-8);
  }
}
